<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Data</title>
</head>
<body>

    <h1>Submit Data to Python</h1>
    
    <form action="/submit" method="POST">
        <label for="name">Student name : </label><br>
        <input type="text" id="name" name="name"><br><br>

        <label for="roll_no">roll no : </label><br>
        <input type="text" id="roll_no" name="roll_no"><br><br>

        <label for="city">city : </label><br>
        <input type="text" id="city" name="city"><br><br>

        <button type="submit" >Submit</button>
    </form>

</body>
</html>

<!-- {"user_input": "lokesh"} -->
